@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700")
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css")
@import "~bootstrap/scss/bootstrap"

body
    font-family: "Lato", "Arial", sans-serif
    font-weight: 300
    background-color: cornsilk
    background-image: url("./images/logo.png")
    background-position: 50%
    background-repeat: no-repeat
    background-size: contain
h1
    background-color: yellow
    border-radius: 4px
    padding: 20px

.btn-default
    background-color: red